@model Lab3_samostojno.Models.DoctorPatient
@{
    ViewBag.Title = "AddPatient";
}

<h2>AddPatient</h2>

@using (Html.BeginForm("AddedPatient", "Doctors"))
{
    @Html.HiddenFor(m => m.DoctorId)
    <div class="form-group">
        <h5>Choose a patient</h5>

        @Html.DropDownListFor(m=>m.PatientId, new SelectList(Model.Patients, "Id", "Name"), new {@class="form-control"} )
    </div>

    <div class="form-group">
        <button type="submit">Submit</button>
    </div>
}